<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <nav>
    <a href="{{ url_for('home') }}">Home</a> |
    <a href="{{ url_for('library') }}">Library</a> |
    <a href="{{ url_for('profile') }}">Profile</a> |
    <a href="{{ url_for('reading_calendar') }}">Reading Calendar</a> |
    <!-- <a href="{{ url_for('login') }}">Login</a> -->
    {% if current_user.is_authenticated %}
      <a href="{{ url_for('logout') }}">Logout</a>
    {% else %}
      <a href="{{ url_for('login') }}">Login</a>
    {% endif %}
  </nav>

  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
