{% extends "layout.html" %}

{% block title %}
My App
{% endblock %}

{% block content %}
<h1 class="page-title">Library</h1>

<div class="book-grid">
    {% for book in books %}
        <div class="book-card">
            <div class="book-cover">
                {% if book.cover %}
                    <img src="{{ url_for('static', filename=book.cover) }}" alt="{{ book.title }}">
                {% else %}
                    <div class="no-cover">No Cover</div>
                {% endif %}
            </div>

            <div class="book-info">
                <h3 class="book-title">{{ book.title }}</h3>
                {% set temp = book.author_id %}
                {% for author in authors %}
                  {% if author.id == temp %}
                      {% set name = author.first_name + " " + author.last_name %}
                      <p class="book-author">{{ name }}</p>
                  {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
