{% extends "layout.html" %}

{% block title %}
My App
{% endblock %}

{% block content %}
<h1>Library</h1>
<p>This is the library page, where all books in your tbr (to be read) will show up</p>

<ul>
  {% for book in books %}
    <li>
      <strong>{{ book.title }}</strong><br>
        <img
        src="{{ url_for('static',
            filename=book.cover if book.cover else 'images/books/default.jpg') }}"
        alt="{{ book.title }} cover"
        width="150"
        />
    </li>
  {% endfor %}
</ul>

{% endblock %}
